<!DOCTYPE html>
<html>
<head>
    <title>Índice de Información</title>
</head>
<body>
    <h1>Índice de Información</h1>
    <ul>
        <li><a href="/ventas/clientes">Clientes</a></li>
        <li><a href="/ventas/proveedores">Proveedores</a></li>
        <li><a href="/ventas/ventas">Ventas</a></li>
        <li><a href="/ventas/productos">Productos</a></li>
    </ul>
    <h1>Agregar nuevo cliente</h1>
    <li><a href="/ventas/ingresar_cliente">Nuevo Cliente</a></li>
    <h1>Agregar nuevo proveedor</h1>
    <li><a href="/ventas/ingresar_proveedor">Nuevo Proveedor</a></li>
</body>
</html>
